:root {
  --gris10: #616161;
  --gris20: #424242;
  --gris30: #212929;
  --gris40: #212121;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.hero {
  background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url("/images/patron-1.svg");
  height: 350px;
}

.wrapper {
  width: 902px;
  margin: auto;
}

.header {
  position: sticky;
  top: 0px;
}

.header-content {
  position: relative;
}

header {
  width: 208px;
  position: absolute;
  top: 64px;
  left: -224px;

}

header summary {
  color: var(--gris30);
  font-weight: bold;
}

header summary:hover {
  color: rgb(0, 255, 0);
}

header a {
  color: var(--gris10);
  text-decoration: none;

}

header a:hover {
  color: red;
  text-decoration: none;
}

h1 {
  font-size: 3em;
  font-weight: 400;
  line-height: 70px;
  color: var(--gris40);
  margin-top: 64px;
  margin-bottom: 16px;
}

h1+p {
  color: var(--gris40);
}

hr {
  margin: 64px;
  display: block;
}

h2 {
  font-size: 2em;
  color: var(--gris40);
  margin-top: 64px;
}

h3 {
  position: sticky;
  top: 0;
  background: white;
  color: var(--gris20);
}

img {
  margin-top: 40px;
  margin-bottom: 16px;
}

p {
  color: var(--gris20);
  margin-top: 24px;
}

.section-content {
  margin-top: 164px;
}

.section-content:first-of-type {
  margin: 0px;
}

.section-content h3 {
  counter-increment: titleList;
}

.section-content h3::before {
  content: "" counter(titleList, decimal) ".-";
}

.section-content h3::after {
  content: "";
  width: 32px;
  height: 4px;
  background: var(--gris20);
  display: block;
}

.section-content ul li {
  margin-bottom: 16px;

}

.section-content ol li {
  line-height: 24px;

}

blockquote {
  margin-top: 32px;
  line-height: 32px;
}

pre {
  background: #FEC62E;
}

a {
  color: var(--gris30);
}

.form input {
  display: inline-block;
  inline-size: 280px;
  block-size: 48px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 90px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--gris20);
  padding-inline-start: 16px;
  padding-inline-end: 16px;
  padding-block-start: 12px;
  padding-block-end: 12px;
  margin-inline-end: 16px;
  margin-block-end: 64px;
}

.form{
  position: relative;
}

.form input[type="submit"] {
  inline-size: 120px;
  background: black;
  color: white;
  padding-inline: 16px;
  padding-block: 12px;
  position: absolute;
  left: 483px;
}

.form input[type="submit"]:hover {
  background: #212121;
}

::selection {
  background: #FEC62E;
  color: rgb(0, 0, 0);
}

.debug {
  outline: 1px solid red;
}